In [15]:
import pandas as pd
import datetime
df = pd.read_csv("Resources/Florida_COVID19_Case_Line_Data.csv")

In [4]:
df

,ObjectId,County,Age,Age_group,Gender,Jurisdiction,Travel_related,Origin,EDvisit,Hospitalized,Died,Case_,Contact,Case1,EventDate,ChartDate
0,1,Pinellas,32.0,25-34 years,Male,FL resident,No,NaN,NO,NO,NaN,Yes,Yes,2020/03/18 05:00:00,2020/03/08 00:00:00,2020/03/18 05:00:00
1,2,Pinellas,20.0,15-24 years,Female,FL resident,Yes,FRANCE,NO,NO,NaN,Yes,NO,2020/06/23 05:00:00,2020/06/22 00:00:00,2020/06/23 05:00:00
2,3,Citrus,80.0,75-84 years,Male,FL resident,Yes,DE,YES,YES,Yes,Yes,Yes,2020/03/18 05:00:00,2020/03/14 00:00:00,2020/03/18 05:00:00
3,4,Volusia,66.0,65-74 years,Female,FL resident,Yes,EGYPT; GERMANY; ISRAEL,YES,NO,NaN,Yes,Yes,2020/03/08 05:00:00,2020/03/02 00:00:00,2020/03/08 05:00:00
4,5,Broward,20.0,15-24 years,Female,FL resident,Yes,IRELAND,YES,NO,NaN,Yes,Yes,2020/03/14 05:00:00,2020/03/10 00:00:00,2020/03/14 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254506,254507,Orange,48.0,45-54 years,Male,FL resident,No,NaN,YES,NO,NaN,Yes,YES,2020/07/09 05:00:00,2020/07/09 19:47:15,2020/07/09 05:00:00
254507,254508,Orange,60.0,55-64 years,Female,FL resident,Unknown,NaN,UNKNOWN,UNKNOWN,NaN,Yes,NaN,2020/07/09 05:00:00,2020/07/09 19:47:15,2020/07/09 05:00:00
254508,254509,Osceola,34.0,25-34 years,Female,FL resident,Unknown,NaN,UNKNOWN,UNKNOWN,NaN,Yes,NaN,2020/07/09 05:00:00,2020/07/09 19:47:16,2020/07/09 05:00:00
254509,254510,Volusia,10.0,5-14 years,Male,FL resident,Unknown,NaN,UNKNOWN,UNKNOWN,NaN,Yes,NaN,2020/07/09 05:00:00,2020/07/09 19:47:16,2020/07/09 05:00:00
254510,254511,Seminole,88.0,85+ years,Male,FL resident,Unknown,NaN,UNKNOWN,UNKNOWN,NaN,Yes,NaN,2020/07/09 05:00:00,2020/07/09 19:47:16,2020/07/09 05:00:00

In [6]:
df = df[["County","Age","Age_group","Gender","Jurisdiction","Hospitalized","EventDate","ChartDate"]]

In [36]:
df['EventDate'] = pd.to_datetime(df['EventDate'], format="%Y/%m/%d %H:%M:%S")

In [67]:
df_prior = df[df['EventDate'] < '2020-05-17']
df_after = df[df['EventDate'] >= '2020-05-17']
df_prior

,ObjectId,County,Age,Age_group,Gender,Jurisdiction,Travel_related,Origin,EDvisit,Hospitalized,Died,Case_,Contact,Case1,EventDate,ChartDate
0,1,Pinellas,32.0,25-34 years,Male,FL resident,No,NaN,NO,NO,NaN,Yes,Yes,2020/03/18 05:00:00,2020-03-08,2020/03/18 05:00:00
2,3,Citrus,80.0,75-84 years,Male,FL resident,Yes,DE,YES,YES,Yes,Yes,Yes,2020/03/18 05:00:00,2020-03-14,2020/03/18 05:00:00
3,4,Volusia,66.0,65-74 years,Female,FL resident,Yes,EGYPT; GERMANY; ISRAEL,YES,NO,NaN,Yes,Yes,2020/03/08 05:00:00,2020-03-02,2020/03/08 05:00:00
4,5,Broward,20.0,15-24 years,Female,FL resident,Yes,IRELAND,YES,NO,NaN,Yes,Yes,2020/03/14 05:00:00,2020-03-10,2020/03/14 05:00:00
5,6,Broward,41.0,35-44 years,Male,Non-FL resident,Yes,SPAIN,YES,YES,NaN,Yes,UNKNOWN,2020/03/14 05:00:00,2020-03-06,2020/03/14 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223152,223153,Collier,37.0,35-44 years,Male,FL resident,No,NaN,NO,NO,NaN,Yes,UNKNOWN,2020/07/07 05:00:00,2020-02-22,2020/07/07 05:00:00
224319,224320,Pinellas,42.0,35-44 years,Male,FL resident,Unknown,NaN,UNKNOWN,NO,NaN,Yes,UNKNOWN,2020/07/07 05:00:00,2020-04-09,2020/07/07 05:00:00
224931,224932,Duval,30.0,25-34 years,Male,FL resident,Unknown,NaN,NO,NO,NaN,Yes,Yes,2020/07/08 05:00:00,2020-04-20,2020/07/08 05:00:00
225620,225621,Pinellas,42.0,35-44 years,Female,FL resident,No,NaN,NO,NO,NaN,Yes,NO,2020/07/05 05:00:00,2020-04-25,2020/07/05 05:00:00
242407,242408,Volusia,68.0,65-74 years,Female,FL resident,Unknown,NaN,NaN,NaN,NaN,Yes,NaN,2020/07/10 05:00:00,2020-05-05,2020/07/10 05:00:00

In [64]:
10000 / df_prior.shape[0]*100

20.125178610960173

In [58]:
df_after[df["Hospitalized"]=="YES"]['Hospitalized'].count

C:\Users\kpess\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

<bound method Series.count of 96        YES
105       YES
157       YES
248       YES
365       YES
         ...
253907    YES
254080    YES
254086    YES
254496    YES
254502    YES
Name: Hospitalized, Length: 8341, dtype: object>

In [65]:
8341 / df_after.shape[0]*100

4.072316450381306